<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title> Meu Crud NodeJS</title>
  <style>
    .Header{
      background-color:lightseagreen ;
      padding: 15px;
      color:white;
    }
  </style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class='text-center Header'>Registros</h1>
                <table class="table table-dark table-striped table-bordered ">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Sobrenome</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Email</th>
                        <th scope="col">Time Preferido</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Jogador Preferido</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% data.forEach(function(details) { %>
                        <tr>
                            <td><%= details.nome %></td>
                            <td><%= details.sobrenome %></td>
                            <td><%= details.cidade %></td>
                            <td><%= details.email %></td>
                            <td><%= details.time %></td>
                            <td><%= details.telefone %></td>
                            <td><%= details.sexo %></td>
                            <td><%= details.jogador %></td>
                            <td><a class="btn btn-link lg" href="/edit/abraao/<%= details._id %>">Editar</a> - <a class="btn btn-link lg" href="/delete/abraao<%= details._id %>">Excluir</a></td>
                        </tr>
                        <% }) %>
                       </tbody>
                </table>
                    <a class="btn btn-success" href="/cadaster/abraao">Novo Cadastro</a>
        </div>
    </div>
</div>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>